<div class="container-contact100">
  <div class="wrap-contact100">
    <form  [formGroup]="contactForm" class="contact100-form validate-form">

      <!-- language selector -->
      <div class="language">
        <div>{{'SelectLang' | translate}}</div>
        <select #langSelect (change)="changeLang(langSelect.value)" class="input100">
          <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
        </select>
      </div>
      <span class="contact100-form-title">
        {{'Title' | translate}}
      </span>

      <!-- form fields -->
      <ng-container *ngFor="let f of formData">
        <label *ngIf="f.label.length" class="label-input100" for="{{f.id}}">{{f.label | translate}} *</label>
        <div class="{{f.class}}" [attr.data-validate]="f.ValidateError | translate" [ngClass]="displayFieldCss(f.fieldName)">
          <input *ngIf="f.fieldName != 'message'" [id]="f.id" class="input100" [formControlName]="f.fieldName" placeholder="{{f.placeholder | translate}}">
          <textarea *ngIf="f.fieldName == 'message'" [id]="f.id" class="input100" [formControlName]="f.fieldName" rows="5" placeholder="{{f.placeholder | translate}}"></textarea>
          <span class="focus-input100"></span>
        </div>
      </ng-container>

      <!-- submit -->
      <div class="container-contact100-form-btn">
        <button class="contact100-form-btn" (click)="saveContact()">
          {{'SendMessage' | translate }}
        </button>
      </div>
    </form>

    <!-- company details -->
    <div class="contact100-more flex-col-c-m" style="background-image: url('assets/images/bg-01.jpg');">
      <div class="flex-w size1 p-b-47" *ngFor="let info of companyData">
        <div class="txt1 p-r-25">
          <span [ngClass]="info.class"></span>
        </div>

        <div class="flex-col size2">
          <span class="txt1 p-b-20">
            {{info.type | translate}}
          </span>

          <span [ngClass]="info.valueClass">
            {{info.value}}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
